<!-- <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LOGIN & SIGN UP</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/footer.css">
    
</head>
<body> -->
    

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a href="/about-us" id="links">
                        <p id="p">ABOUT US</p>
                    </a></li>
                    <li><a href="/offerings" id="links">
                        <p id="p">OUR OFFERINGS</p>
                    </a></li>
                    <li><a href="/blog" id="links">
                        <p id="p">BLOG</p>
                    </a></li>
                    <li><a href="/career" id="links">
                        <p id="p">CAREER</p>
                    </a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Get Help</h4>
                <ul>
                    <li><a href="/faq" id="links">
                        <p id="p">FAQ</p>
                    </a></li>
                    <li><a href="/help-center" id="links">
                        <p id="p">Visit Help Center</p>
                    </a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="/ride" id="links">
                        <p id="p">Ride</p>
                    </a></li>
                    <li><a href="/drive" id="links">
                        <p id="p">Drive</p>
                    </a></li>
                    <li><a href="/our-story" id="links">
                        <p id="p">Our Story</p>
                    </a></li>
                    <li><a href="/benefits" id="links">
                        <p id="p">Benefits</p>
                    </a></li>
                    <li><a href="/careers" id="links">
                        <p id="p">Careers</p>
                    </a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div id="footer-row">
            <div id="row-grid">
                <div id="copyright-text">
                    <p id="pcr">
                        <span>© 2024 GoID Tech</span>
                    </p>
                </div>
                <div id="space"></div>
                <div id="span"></div>
                <div id="security">
                    <div id="security_span">
                        <a href="/privacy" id="priv">
                            <p id="pcr">PRIVACY</p>
                        </a>
                        <a href="/accessibility" id="priv">
                            <p id="pcr">ACCESSIBILITY</p>
                        </a>
                        <a href="/terms" id="priv">
                            <p id="pcr">TERMS</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- </body>
</html> -->
